<%- include('../../shared/includes/head',{pageTitle: 'Log In'}) %> 
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">


</head>
<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1>Create new account</h1>
        <% if(inputdata.errorMessage) { %> 
            <section class="alert">
                <h2>Invalid credentials</h2>
                <p><%= inputdata.errorMessage %> </p>

            </section>

        <% } %>
        

        <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= inputdata.email %> ">
            </p>
            
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= inputdata.password %> ">
            </p>
            
            <p>
                <button type="submit" class="btn">Login Account</button>

            </p>
            
            <a href="/signup" class="switch-acount">Create user instead</a>
            

        </form>
    </main>
    
<%- include('../../shared/includes/footer') %> 